body {
    background: #f7f7f8;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;    
    flex-direction: column;
}
wrapper {
  min-height: 100vh;
}
main {
  flex: 1;
}
header {
    z-index: 9999;
}
nav {
    background: rgba(0, 0, 0, 0.6);
}
.jumbotron {
    background: #fbfdfd;
}
.logo img {
    width: 100%;
    color: #231d3a;
}
.parallax {
     background-image: url("/images/bck-cheers.jpg");
    /* Set a specific height */
    min-height: 1050px;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-2 {
     background-image: url("/images/bck-bar.png");
    /* Set a specific height */
    min-height: 1200px;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
  width: 200px;
  height: 30px;
  padding: 5px 0;
}
.container-2{
  width: 200px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-2 input#search{
  width: 40px;
  height: 30px;
  background: transparent;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}
.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: 3px;
  z-index: 1;
  /* color: #4f5b66; */
  color: rgba(255, 255, 255, 0.5);
}
.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 200px;
  background: #2b303b !important;
}
.container-2:hover input#search{
    width: 200px;
    background: #2b303b !important;
}
.container-2:hover .icon{
    color: #93a2ad;
}
.navbar-brand {
    font-size: 1.2em;
}
.content-img {
  position: relative;
}
.content-img > img {
  width: 80%;
  position: absolute;
  bottom: 45px;
}
.section-head {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: #caac5e;
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
}
.section-title {
    font-weight: bold;
}
.section-abc {
    margin-bottom: 20px;
}
.section-abc a {
    font-weight: bold;
    padding-right: 70px;
    border-bottom: 1px solid #CCC;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='21' height='16' viewBox='0 0 21 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle 111 + Rectangle 111 Copy 2 + Rectangle 113%3C/title%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M13.414.05l7.625 7.98L18.05 8 12 1.464 13.414.05z'/%3E%3Cpath d='M21.044 8.006l-7.63 7.91L12 14.503l6.127-6.514 2.917.018z'/%3E%3Cpath d='M0 7h20v2H0z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 120px;
}
.section-abc a:hover {
    text-decoration: none;
    background-position: 140px;
}
footer {
  background-color: #363636;
  padding: 20px 0;
 }
.footer-text {
  color: #fff;
  font-size: 13px;
  line-height: 30px;  
}
footer ul > li.list-inline-item {
  padding: 0 5px;
}
footer ul > li.list-inline-item > a {
  display: block;
  color: #FFF;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
footer ul > li.list-inline-item > a:hover {
  color: #363636;
  background: #FFFFFF;
}
/*
.navbar-custom {
    background: transparent;
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    border: none;
}
a.navbar-brand,
a.logo {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}
a.logo:hover,
a.logo:active,
a.logo:focus {
    text-decoration: none;
}
li.nav-item {
    margin-left: .75rem;
}
li.nav-item a.nav-link {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
}
li.nav-item .btn {
    margin-top: .2rem;
    margin-left: .4rem;
}
li.nav-item .btn-white {
    color: #46484a;
}
.search-field {
    display: none;
}
.search-field input {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: .3rem;
    background: transparent;
    color: #fff;
    text-indent: .5rem;
    font-weight: 300;
}
.search-field input:focus {
    border: 1px solid #fff;
    outline: none;
}
.cover {
    background: #252629 url(../images/cover-bg.jpg) center;
    background-size: cover;
    min-height: 40rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}
.cover p.lead {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.75);
}
.cover .cover-container {
    display: table;
    height: 100%;
    min-height: 30rem;
    margin: 2rem auto 0 auto;
}
*/